.container {
  
  width: 70%;
  margin: auto;
  text-align: center;
}
h1 {
  margin: 30px;
  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
body {
  background-color: #393E46;
}
.add{
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 100px;
  text-align: center;
  background-color: white;
}
input{
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 300px;
  height: 78px;
  text-align: left;
  background-color: white;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


.listItem {
  display: flex;
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 300px;
  height: 78px;
  text-align: center;
  line-height: 250%;
  vertical-align: top;
  background-color: white;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;    /* Hide any overflowing text */
  text-overflow: ellipsis;
}
.delete {
  display: flex;
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 100px;
  align-items:center;
  background-color: white;
}
p {
  margin: 0px;
}
